/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  /* 去除a链接下划线 */
  text-decoration: none;
}
ul {
  list-style: none;
}
/* common css */
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.button {
  display: inline-block;
  border-radius: 4px;
  font-size: 22px;
  color: #fff;
  background-color: #f7ba3e;
  margin-top: 20px;
  padding: 5px 10px;
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
}
body {
  font: 14px/1.5 Arial;
  background-color: #eee;
  color: #444;
}
.layout {
  /* width: 1050px; */
  margin: 0 auto;
}
