html,body {
  height: 100%;
}
header {
  height: 100%;
  /* min-height: 600px; */
  background: #000 url(../image/beijing.png)
  center center no-repeat;
  background-size: cover;
}
header .logo {
  border-radius: 4px;
  color: #f7ba3e;
  font-size: 32px;
  float: left;
  margin-top: 10px;
}
header ul {
  float: right;
}
header ul > li {
  float: left;
  margin: 10px;
}
header ul > li > a {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}
header ul > li > a:hover {
  background: #f7ba3e;
}
header .logo:hover {
  background: #aaa;
}
header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}
header .intro h1 {
  font-size: 32px;
}
header .intro h2 {
  font-size: 28px;
  margin-top: 20px;
}
