html,body {
  height: 100%;
}
header {
  position: relative;
  height: 100%;
  min-height: 600px;
  background: #000 url(../image/beijing.png)
  center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*
背景透明
header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,0,0,.1);
} */
header .logo {
  border-radius: 4px;
  font-weight: 150;
  color: #f7ba3e;
  font-size: 28px;
  float: left;
  margin: 10px 0px 0px 70px;
  text-shadow: 0 0 20px yellow;
  font-family: Comic Sans Ms;
  box-shadow:5px 5px 10px gray;
  position: fixed;
}
header .logo:hover {
  background: #aaa;
}
header ul {
  float: right;
}
header ul > li {
  float: left;
  margin: 10px;
}
header ul > li > a {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 150;
  text-shadow: 0 0 20px yellow;
}
header ul > li > a:hover {
  background: #f7ba3e;
}
header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}
header .intro h1 {
  font-size: 30px;
  font-weight: 150;
}
header .intro h2 {
  font-size: 26px;
  font-weight: 150;
  margin-top: 20px;
}
section {
  text-align: center;
  margin-top: 30px;
}
section > h2 {
  text-shadow: 0 0 20px yellow;
  font-family: Comic Sans Ms;
  font-size: 35PX;
  color: #f7ba3e;
}
section > p {
  border-bottom: 3px solid yellow;
}
section  p {
  font-family:Comic Sans Ms;
  margin-top: 10px;
  font-weight: 150;
  color: rgba(36,36,56,.9);
  margin-top: 10px;
}
section .family-intro > li {
  font-size: 15.4px;
  float: left;
  width: 33%;
  padding: 10px 20px;
  margin-top: 95px;
  margin-bottom: 90px;
}
ul > li > h3 {
  text-shadow: 0 0 20px yellow;
  font-family: Comic Sans Ms;
  color: #f7ba3e;
}
section .family figure {
  width: calc(33.33% - 20px);
  height: 460px;
  margin: 10px;
  float: left;
}
section .family img {
  width: 100%;
  height:100%;
}
section .family a {
  display: block;
  height: 330px;
}
section .family figcaption {
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;

  text-shadow: 0 0 20px yellow;
  font-family: Comic Sans Ms;
  color: #f7ba3e;
}
section .family p {
  color: #666;
  margin-top: 10px;
}
section .growth > li {
  position: relative;
  margin-top: 80px;
}
section .growth > li:nth-child(odd) {
  padding-right: calc(50% - 50px);
  text-align: right;
}
section .growth > li ::after {
  content: '';
  display: block;
  clear: both;
}
section .growth img,
section .growth .img {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  padding-top: 0px;
  border-radius: 50%;
  box-shadow: 0 0 30px #f7ba3e;
}
section .growth .cat {
  padding-top: 25px;
  font-size: 30px;
  font-family:Comic Sans Ms;
  font-weight: 150;
  color: #f7ba3e;
}
section .growth li:nth-child(odd) dl {
  margin-right: 120px;
}
section .growth > li:nth-child(even) {
  padding-left: calc(50% - 50px);
  text-align: left;
}
section .growth > li:nth-child(even) dl {
  margin-left: 120px;
}
section .growth > li:nth-child(odd) img {
  float: right;
}
section .growth > li:nth-child(even) img {
  float: left;
}
section .growth dt {
  font-size: 23px;
  font-weight: bold;
}
section .growth dd {
  font-size: 16px;
  font-family:Comic Sans Ms;
  margin-top: 10px;
  font-weight: 150;
  color: rgba(36,36,56,.9);
  margin-top: 10px;
}
section .growth > li::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: 0px;
  display: inline-block;
  height: 280px;
  width: 4px;
  background-color: #f7ba3e;
  box-shadow: 0 0 30px #f7ba3e;
}
section .growth > li:last-child::before {
  height: 0px;
}
#content:after {
  content: '';
  display: block;
  clear: both;
}
#content h2 {
  text-shadow: 0 0 20px yellow;
  font-family: Comic Sans Ms;
  font-size: 35PX;
  margin-top: 97px;
  color: #f7ba3e;
  position: relative;
  text-align: center;
}
#content p {
  font-family: Comic Sans Ms;
  color: #777;
  margin-bottom: 75px;
  position: relative;
  text-align: center;
}
.input-user {
  width: 600px;
  float: left;
}
.input-message {
  float: right;
}
.user {
  border: 1px solid#f7ba3e;
  border-radius: 10px;
  font-size: 15px;
  width: 450px;
  height: 60px;
  margin-top: 15px;
  box-shadow: 0 0 10px #f7ba3e;
}
.message {
  border: 1px solid #f7ba3e;
  border-radius: 10px;
 font-size: 15px;
  width: 450px;
  height: 210px;
  margin-top: 15px;
  box-shadow: 0 0 10px #f7ba3e;
}
#content .form-button {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  display: inline-block;
  margin: 100px 412px;
}
footer {
  text-align: center;
  background: #f7ba3e;
  color: #fff;
}
footer > p > a {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 150;
  text-shadow: 0 0 20px #aaa;
}
footer > p > a:hover {
  color: #ccc;
}
